@import 'styles/scss/palette.module.scss';

.primary {
  padding: 30px 50px;
}

.textColorScheme {
  font-size: 24px;
  &:global(.ant-btn-text) {
    padding: 0;
    height: max-content;
    width: max-content;
    color: $white-1;
    & span {
      color: $white-1;
    }
    &:disabled {
      color: $white-1;
    }
    &:not(:disabled):hover {
      color: $white-1;
    }
    &:not(:disabled):not(.ant-btn-disabled):active {
      color: $white-1;
    }
  }
  &:global(.ant-btn:not(:disabled)):focus-visible {
    color: $white-1;
    font-weight: bold;
    outline: none;
  }
}

.primaryColorScheme {
  font-size: 24px;
  background-color: $blue-1;
  box-shadow: none;
  &:hover {
    background-color: $blue-1 !important;
    box-shadow: 0 4px 20px $blue-3;
  }
  &:active {
    background-color: $blue-2 !important;
  }

  &:global(.ant-btn-text) {
    padding: 0;
    height: max-content;
    width: max-content;
    color: $white-1;
    & span {
      color: $white-1;
    }
    &:disabled {
      color: $white-1;
    }
    &:not(:disabled):hover {
      color: $white-1;
    }
    &:not(:disabled):not(.ant-btn-disabled):active {
      color: $white-1;
    }
  }
  &:global(.ant-btn:not(:disabled)):focus-visible {
    color: $white-1;
    font-weight: bold;
    outline: none;
  }
}
