@import 'styles/scss/palette.module.scss';

.root {
  width: 27vw;
  height: 260px;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0 4px 20px $black-2;
  cursor: pointer;

  .content {
    height: 100%;
    .header {
      font-family: Manrope;
      font-size: 24px;
      font-weight: 700;
      height: 54px;
    }

    .author {
      font-size: 20px;
      font-family: Manrope;
    }

    .statisticBlock {
      font-size: 20px;
    }
  }
}
