@import 'styles/scss/palette.module.scss';

.root {
  width: 27vw;
  padding: 20px;
  height: max-content;
  border-radius: 10px;
  box-shadow: 0 4px 20px $black-2;
  cursor: pointer;

  .content {
    height: 100%;
    .name {
      height: 60px;
      font-size: 18px;
      font-family: Manrope;
      font-weight: 700;
      margin: 0;
      span {
        font-family: Manrope;
        font-weight: 700;
      }
    }

    .description {
      font-size: 16px;
      font-family: Manrope;
      margin: 0;
      span {
        font-family: Manrope;
      }
    }
  }
}
